.row
  .col-sm-12
    .portlet.portlet-boxed
      .portlet-header
        %h4.portlet-title Nova conta à receber
        = link_to "Voltar para listagem", receivables_path, class: 'pull-right btn btn-sm btn-secondary'
      .portlet-body
        = render 'form'