.row
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Contas à pagar
          / /.icon-stat-label
          %span.icon-stat-value R$ 0,00
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-dollar.icon-stat-visual.bg-primary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Período [01/01/2016 - 01/01/2016]
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Contas à receber
          / /.icon-stat-label
          %span.icon-stat-value R$ 0,00
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-gift.icon-stat-visual.bg-secondary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Período [01/01/2016 - 01/01/2016]
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Total em compras
          / /.icon-stat-label
          %span.icon-stat-value R$ 0,00
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-exchange.icon-stat-visual.bg-tertiary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Período [01/01/2016 - 01/01/2016]
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Total de compras
          / /.icon-stat-label
          %span.icon-stat-value 0
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-envelope-o.icon-stat-visual.bg-default
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Período [01/01/2016 - 01/01/2016]
    / /.icon-stat
  / /.col-md-3
/ /.row
