.row
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Revenue
          / /.icon-stat-label
          %span.icon-stat-value $5,367
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-dollar.icon-stat-visual.bg-primary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Updated Now
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Total Sales
          / /.icon-stat-label
          %span.icon-stat-value 473
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-gift.icon-stat-visual.bg-secondary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Updated Now
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Referrals
          / /.icon-stat-label
          %span.icon-stat-value 78
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-exchange.icon-stat-visual.bg-tertiary
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Updated Now
    / /.icon-stat
  / /.col-md-3
  .col-md-3.col-sm-6
    .icon-stat
      .row
        .col-xs-8.text-left
          %span.icon-stat-label Inquiries
          / /.icon-stat-label
          %span.icon-stat-value 39
          / /.icon-stat-value
        / /.col-xs-8
        .col-xs-4.text-center
          %i.fa.fa-envelope-o.icon-stat-visual.bg-default
          / /.icon-stat-visual
        / /.col-xs-4
      / /.row
      .icon-stat-footer
        %i.fa.fa-clock-o
        Updated Now
    / /.icon-stat
  / /.col-md-3
/ /.row
.row
  .col-md-4.col-sm-5
    .portlet.portlet-boxed
      .portlet-header
        %h4.portlet-title
          Daily Stats
      / /.portlet-header
      .portlet-body{:style => "min-height: 400px;"}
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.
        %hr
          %table.table.keyvalue-table
            %tbody
              %tr
                %td.kv-key
                  %i.fa.fa-dollar.kv-icon.kv-icon-primary
                  Revenue
                %td.kv-value $5,367
              %tr
                %td.kv-key
                  %i.fa.fa-gift.kv-icon.kv-icon-secondary
                  Total Sales
                %td.kv-value 473
              %tr
                %td.kv-key
                  %i.fa.fa-exchange.kv-icon.kv-icon-tertiary>
                  Referrals
                %td.kv-value 78
              %tr
                %td.kv-key
                  %i.fa.fa-envelope-o.kv-icon.kv-icon-default
                  Inquiries
                %td.kv-value 39
      / /.portlet-body
    / /.portlet
  / /.col
