.row
  %fieldset
    .col-md-5
      = f.input :purchase_id, as: :string, label: false, include_blank: "Nº FPA", input_html: { placeholder: "Insira o número da FPA"}
    .col-md-2
      = f.hidden_field :_destroy
      = link_to "", '#', class: "remove_fields btn btn-danger btn-sm glyphicon glyphicon-remove"
