%header.navbar{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-cog
      %a.navbar-brand.navbar-brand-img{:href => "dashboard.root-Path"}
        %br/
        %b ENTHERM GESTÃO
    / /.navbar-header
    %nav.collapse.navbar-collapse{:role => "navigation"}
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.navbar-profile
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
            %img.navbar-profile-avatar{:alt => "", :src => "/images/avatar-default.png"}
              %span.visible-xs-inline= current_user.email
              %i.fa.fa-caret-down
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "https://jumpstartthemes.com/demo/v/3.0.0/templates/admin-1/page-profile.html"}
                Meu perfil
            %li.divider
            %li
              = link_to "Sair", main_app.general_session_path(current_user), method: :delete